.column_component {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;

  .column_item {
    margin: calc(var(--spacing) / 2) 0;
    display: inline-flex;
    justify-content: center;

    &.first_item {
      margin-top: 0;
    }

    &.last_item {
      margin-bottom: 0;
    }
  }
}