.text_input_component {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: fit-content;
  border: none;

  .input_label {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 13px;
    color: var(--text_input-label-color);
    pointer-events: none;
    user-select: none;
    transition: all 0.2s linear;

    &.label_top {
      top: -5px;
      left: 5px;
      font-size: 10px;
      color: var(--text_input-focus-color);
      background-color: var(--background-color);
      padding: 0 2.5px;
    }
  }

  input[type = "text"]:focus {
    border: 2px solid var(--text_input-focus-color);
  }

  input[type = "text"]:focus-visible {
    outline: none;
  }

  .form_input {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--black);
    padding: 5px;
    outline-offset: 1px;
  }

  .error_text {
    position: relative;
    left: 5px;
    top: 2px;
    font-size: 10px;
    color: var(--text_input-error-color);
  }
}
