:root{
  //--container-width: 100px;
  --container-padding: 10vw;
}

.header_component {
  width: 100vw;
  height: 50px;
  display: inline-flex;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .app_logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--container-padding);

    .logo_child {
      font-size: 20px;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }

    &.mobile {
      width: 100vw;
      justify-content: center;
    }

    &.tablet {
      width: 50vw;
    }

    &.computer {
      width: 25vw;
    }
  }

  .header_content {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-right: var(--container-width);

    &.tablet {
      width: 50%;
    }

    &.computer {
      width: 25%;
    }
  }

  .right_content {
    display: inline-flex;
    align-items: center;
  }

}