:root {
  --left-bar-width: 200px;
  --right-bar-width: 100px;

  --sidebar-max-width: 20%;
  --sidebar-min-width: 0;

  --sidebar-max-height: calc(100vh - var(--header-height));
  --sidebar-min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.layout {
  max-width: 100vw;
  min-height: 100vh;

  .layout_header {
    position: absolute;
    top: 0;
    width: 100vw;
    overflow: hidden;
    height: 50px;
    display: inline-flex;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .app_logo {
      display: inline-flex;
      align-items: center;
      width: 25vw;
      height: 100%;
      font-size: 20px;
      font-weight: 600;
      padding-left: var(--container-padding);
    }

    .header_content {
      display: inline-flex;
      align-items: center;
      width: 75vw;
      height: 100%;
      padding-right: var(--container-width);
    }
  }

  .layout_left_bar {
    width: 20vw;
    max-height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    position: relative;
    left: 0;
    top: 50px;

    background-color: #fff;
  }

  .layout_body {
    width: calc(100vw - var(--left-bar-width) - var(--right-bar-width));
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: absolute;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: var(--left-bar-width);
    right: var(--right-bar-width);

    background-color: aqua;
  }

}