.customer_layout {
  --header-height: 50px;

  width: 100vw;
  height: 100vh;

  .header_container {
    width: 100vw;
    height: var(--header-height);
  }

  .body_container {
    height: calc(100vh - var(--header-height));

    .side_bar_container {
      height: 100%;
    }

    .body_content {
      padding: 10px;
    }
  }


  .nav_item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .search_btn {

  }

}