.side_bar {
  padding: 10px 0;

  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 5px;

    &.form_container {
      display: inline-flex;
      flex-direction: column;

      .reset_btn {
        padding: 10px;
        width: 100px;
        border-radius: 50px;
        margin-top: 20px;
      }
    }

    .form_search {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      width: 80%;
      margin-top: 50%;

      .search_btn {
        padding: 10px;
        width: 100px;
        border-radius: 50px;
      }

      .search_input {
        --input-padding: 15px;

        width: 100% !important;
        height: 35px !important;

        input {
          border-radius: 35px !important;
        }
      }

      .event_list {
        width: 100% !important;
        height: 35px !important;
      }
    }
  }
}
