.side_bar {
  padding: 10px 0;

  &_item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 5px;

    .search_input {
      width: 90%;
      height: 100%;
    }

  }

}